NodeRed/node-red-dht-11.json
[{"id":"423adb30.f62994","type":"tab","label":"Publish DHT Data","disabled":false,"info":""},{"id":"1f897983.4b40c6","type":"inject","z":"423adb30.f62994","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":568,"wires":[["e70dc3c0.33034"]]},{"id":"6608257f.d7ca1c","type":"rpi-dht22","z":"423adb30.f62994","name":"","topic":"DHT11","dht":"11","pintype":1,"pin":"11","x":623,"y":567,"wires":[["3ef90fbf.5cfe4"]]},{"id":"c84cecaa.ff70a","type":"debug","z":"423adb30.f62994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":835,"y":397,"wires":[]},{"id":"3ef90fbf.5cfe4","type":"template","z":"423adb30.f62994","name":"Reformat","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"temperature\": {{ payload }},\n    \"humidity\": {{ humidity }}\n}","output":"json","x":811,"y":560,"wires":[["308b761d.02016a","dee94fe4.5264c"]]},{"id":"308b761d.02016a","type":"mqtt out","z":"423adb30.f62994","name":"","topic":"v1/devices/me/telemetry","qos":"","retain":"","broker":"f9b5720d.03a36","x":1156,"y":381,"wires":[]},{"id":"31281066.0eddd","type":"mqtt in","z":"423adb30.f62994","name":"RPC Requests","topic":"v1/devices/me/rpc/request/+","qos":"2","broker":"f9b5720d.03a36","x":160,"y":683,"wires":[["c2fc66f5.838168"]]},{"id":"5b5febf3.c5baa4","type":"mqtt out","z":"423adb30.f62994","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"f9b5720d.03a36","x":857,"y":333,"wires":[]},{"id":"7a7e2607.3a6828","type":"template","z":"423adb30.f62994","name":"Reformat","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"enabled\": {{ payload }}\n}","output":"json","x":590,"y":335,"wires":[["5b5febf3.c5baa4","c84cecaa.ff70a"]]},{"id":"d4b1c067.9605e","type":"switch","z":"423adb30.f62994","name":"Router","property":"payload.method","propertyType":"msg","rules":[{"t":"eq","v":"setEnabled","vt":"str"},{"t":"eq","v":"blink","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":567,"y":711,"wires":[["5ec6572e.aeadb8"],["a7370b84.62bfe8","3369f124.21266e"]]},{"id":"c2fc66f5.838168","type":"json","z":"423adb30.f62994","name":"Parse","property":"payload","action":"obj","pretty":false,"x":386,"y":709,"wires":[["d4b1c067.9605e"]]},{"id":"5ec6572e.aeadb8","type":"change","z":"423adb30.f62994","name":"Extract","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.params","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":725,"y":697,"wires":[["52bbd2ca.e3351c","73f226e1.c0f2c8"]]},{"id":"e70dc3c0.33034","type":"function","z":"423adb30.f62994","name":"CheckEnabled","func":"var enabled = flow.get('enabled') || false;\n\nreturn Object.assign({}, msg, {\n    payload: enabled,\n    oldPayload: msg.payload\n});\n","outputs":1,"noerr":0,"x":319,"y":571,"wires":[["853465a9.93a4a8"]]},{"id":"853465a9.93a4a8","type":"switch","z":"423adb30.f62994","name":"IfEnabled","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":481,"y":566,"wires":[["6608257f.d7ca1c"]]},{"id":"73f226e1.c0f2c8","type":"function","z":"423adb30.f62994","name":"SetEnabled","func":"flow.set('enabled', msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":385,"y":338,"wires":[["7a7e2607.3a6828"]]},{"id":"dee94fe4.5264c","type":"debug","z":"423adb30.f62994","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1129,"y":446,"wires":[]},{"id":"52bbd2ca.e3351c","type":"debug","z":"423adb30.f62994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":965,"y":672,"wires":[]},{"id":"fa883f55.e3279","type":"inject","z":"423adb30.f62994","name":"","topic":"true","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":129,"y":332,"wires":[["73f226e1.c0f2c8"]]},{"id":"a7370b84.62bfe8","type":"trigger","z":"423adb30.f62994","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":751,"y":749,"wires":[["8863ffd5.a19dc","9a60a437.f0d2f8"]]},{"id":"8863ffd5.a19dc","type":"rpi-gpio out","z":"423adb30.f62994","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":954,"y":740,"wires":[]},{"id":"3369f124.21266e","type":"debug","z":"423adb30.f62994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":754,"y":811,"wires":[]},{"id":"9a60a437.f0d2f8","type":"debug","z":"423adb30.f62994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":972,"y":807,"wires":[]},{"id":"f9b5720d.03a36","type":"mqtt-broker","z":"","name":"ThingsBoard","broker":"176.112.194.104","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]